#some pre-production stuff and other stuff that isn't needed
Archived/

#make sure we don't accidentally include builds in the project
#builds will be offically put out in the releases page
relight-mod/[Bb]uilds
[Bb]uild/
[Bb]uilds/
[Rr]eleases/

relight-art/
relight-mod/Relight_Assets_Custom/rosendal_plains_2_4k_HDR_CONVOLVE.d3dtx
relight-mod/Relight_Assets_Custom/spruit_sunrise_4k_HDR_CONVOLVED.d3dtx
relight-mod/Relight_Assets_Custom/rosendal_plains_2_4k_HDR.d3dtx
relight-mod/Relight_Assets_Custom/spruit_sunrise_4k_HDR.d3dtx
